<%- include("partials/header") %>

<div class="container">
    <header class="jumbotron">
        <h1 class="display-4">Welcome to YelpCamp</h1>
        <p class="lead pl-2">Campgrounds</p>
        <hr>
        <p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
        </p>
    </header>

    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% campgrounds.forEach(camp => { %>
        <div class="col-xl-4 col-lg-6">
            <figure class="figure border rounded-bottom">
                <img src="<%= camp.image %>" alt="Camp photo" class="img-thumbnail figure-img img-fluid rounded">
                <figcaption class="figure-caption"><%= camp.name %></figcaption>
            </figure>
        </div>    
    <% }); %> 
    </div>
    <%- include("partials/footer") %>
</div>